@model SMSPortal.Models.PostLogin.ProductViewModel

<script src="~/Scripts/Module/Product/SubCategory/sub-category-events.js"></script>

<div class="panel-heading" style="background: #3C8DBC; color: #fff;">Sub Categories</div>
<div class="panel-body test-package-scrollbar" id="SubCategoryPanel">
    <ul class="list-group">
        @if (Model.SubCategories.Count > 0)
        {
            foreach (var item in Model.SubCategories)
            {
                <li class="list-group-item" style="cursor:pointer;" id="list_@item.Subcategory_Id">
                    <input type="hidden" id="hdnCategory_Id_@item.Subcategory_Id" class="Category_Id" value="@item.Category_Id">
                    <input type="hidden" id="hdnSubcategory_Id_@item.Subcategory_Id" class="Sub_Category_Id" value="@item.Subcategory_Id">
                    <span class="badge">@item.Product_Count</span>@item.Subcategory_Name
                </li>
            }
        }
    </ul>

</div>
