
<script src="~/Scripts/Module/PurchaseOrder/PurchaseOrder_events.js"></script>

<div class="content-wrapper">
    @*@{Html.RenderPartial("_ServerMessage");}*@
    <section class="content-header">
        <h1>
            Purchase Order Master
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>

            <li class="active">Admin</li>

            <li class="active">Purchase Order</li>

        </ol>
    </section>

    <form id="frmPurchaseOrderMaster">

        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <i class="fa fa-chevron-left" style="margin-right: 5px; cursor: pointer;font-size:22px; "></i>
                            <h3 class="box-title">Purchase Order</h3>
                        </div>

                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="color: #333">Purchase Order No</label>
                                        <input type="text" class="form-control input-sm" name="" id="txtPurchaseOrder_Name" placeholder="Enter purchase order no" value="" maxlength="20">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="color: #333">Vendor</label>
                                        <select id="drpVendor" class="form-control" name="">
                                            <option value="">-Select Vendor-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Purchase Order Items</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label style="color: #333">Product</label>
                                                <select id="drpProduct" class="form-control" name="">
                                                    <option value="">-Select Product-</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label style="color: #333">Product Quantity</label>
                                                <input type="text" class="form-control input-sm" name="" id="txtProductQuantity" placeholder="Enter product quantity" value="" maxlength="20">
                                            </div>
                                        </div>
                            
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="color: #333">Product Price</label>
                                                    <input type="text" class="form-control input-sm" name="" id="txtProductPrice" placeholder="Enter product price" value="" maxlength="20">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label style="color: #333">Status</label>
                                                    <select id="drpStatus" class="form-control" name="">
                                                        <option value="">-Select Status-</option>
                                                    </select>
                                      
                                        </div>
                                        
                                    </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <br />
                                                <button type="button" id="btnAdd" class="btn btn-success btn-sm">Add</button>
                                            </div>
                                        </div>

                                </div><!-- /.box-body -->
                                @*<div class="box-footer">
                <div class="btn-group">
                    <button type="button" id="btnAdd" class="btn btn-success btn-sm">Add</button>

                </div>
            </div>*@

                            </div>
                            
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Purchase Order Item Table</h3>
                                    </div><!-- /.box-header -->
                                    <div class="box-body">
                                        <table class="table table-striped" id="tblPurchaseOrderMaster">
                                            <tr id="subhead">
                                                <th>Product</th>
                                                <th>Product Price</th>
                                                <th>Product Quantity</th>
                                                <th>Status</th>
                                                <th>Action</th>

                                            </tr>
                                            <tr>
                                                <td>Bag</td>
                                                <td>100</td>
                                                <td>02</td>
                                                <td>cc</td>
                                                <td>
                                                    <label id="btnEdit" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o"></label>
                                                    <label id="btnRemove" class="btn btn-danger btn-Edit-SubRemove btn-sm fa fa-times"></label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Bag</td>
                                                <td>100</td>
                                                <td>02</td>
                                                <td>cc</td>
                                                <td>
                                                    <label id="btnEdit" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o"></label>
                                                    <label id="btnRemove" class="btn btn-danger btn-Edit-SubRemove btn-sm fa fa-times"></label>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>Bag</td>
                                                <td>100</td>
                                                <td>02</td>
                                                <td>cc</td>
                                                <td>
                                                    <label id="btnEdit" class="btn btn-info btn-sm btn-Edit-SubDept fa fa-pencil-square-o"></label>
                                                    <label id="btnRemove" class="btn btn-danger btn-Edit-SubRemove btn-sm fa fa-times"></label>
                                                </td>

                                            </tr>

                                        </table>
                                    </div><!-- /.box-body -->
                                </div>
                            <div class="box-footer">
                                <div class="btn-group">
                                    <button type="submit" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                    <button type="reset" id="btnReset" class="btn btn-warning btn-sm">Reset</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </form>
</div>