@model SMSPortal.Models.PostLogin.UserViewModel
@using SMSPortal.Common;
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/ripple.css" rel="stylesheet" />
    <script src="~/Scripts/Module/User/reset_password.js"></script>
</head>
<body>

    <div class="title">
        <h1>B2B <span>Project</span></h1>
    </div>

    <div class="container">
        <div class="card"></div>
        <div class="card">
            <div class="logo">
                <h2>Forgot Password</h2>
            </div>
            <form class="form-signin" id="frmForgotPass">
                <div class="input-container">
                    <input type="text" placeholder="Enter email" class="form-control input-sm" id="txtEmail" name="User.Email_Id" value="@Model.User.Email_Id">
                    <label for="Username">Email Id</label>
                    <div class="bar"></div>
                </div>
                <div class="sign"><button type="submit" id="btnLogin" class="btn btn-primary btn-block btn-flat" style="border-radius: 0px;">Submit</button></div>
                <div class="footer"><a href="@Url.Action("Index", "Login")">Back To Login</a></div>
            </form>
        </div>
    </div>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index.js"></script>
    <script src="~/Scripts/ripple.js"></script>
    <script>
        $(function () {

            $("#frmForgotPass").validate({
                rules: {

                    "User.Email_Id": { required: true, email: true }
                },
                messages: {

                    "User.Email_Id":
                        {
                            required: "Email is required field.",
                            email: "Invalid email"
                        }
                }
            });

        });


    </script>

</body>
</html>
