@model SMSPortal.Models.PreLogin.LoginViewModel
@using SMSPortalInfo.Common;
@{
    Layout = null;
}
<style>
    .header_luxe {
        margin-top: 50px;
    }

        .header_luxe img {
            width: 25%;
            display: block;
            margin: 0 auto;
            padding: 22px 0;
        }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Login | SMSPortal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <link href="~/Content/css/ripple.css" rel="stylesheet" />
</head>
<body>

    <div class="header_luxe">
        <img src="~/Images/luxe.JPG" class="img-responsive" alt="" />
    </div>

    <div class="container">
        <div class="card"></div>
        <div class="card">
            <div class="logo">
                <h2>Login</h2>
            </div>
            <form id="frmLogin" action="@Url.Action("Authenticate", "Login")" method="post">
                <div class="input-container">
                    <input type="text" name="Cookies.User_Name" id="txtUserName" class="form-control input-sm" required="required" />
                    <label for="Username">Username</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    <input type="password" name="Cookies.Password" id="txtPassword" class="form-control input-sm" required="required" />
                    <label for="Password">Password</label>
                    <div class="bar"></div>
                </div>

                <div class="sign"><button type="submit" id="btnLogin" class="btn ripple">Sign In</button></div>
                <div class="footer"><a href="@Url.Action("ForgotPassword", "Login")">Forgot Password</a></div>
            </form>
        </div>
    </div>
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/index.js"></script>
    <script src="~/Scripts/ripple.js"></script>


    <script>
        $(function () {

            // Emptying the cookie on user login
            $("#btnLogin").click(function () {

                $.removeCookie('cart', { path: '/' });

            });

            $("#frmLogin").validate({
                rules: {

                    "Cookies.User_Name": { required: true },

                    "Cookies.Password": { required: true },
                },
                messages: {

                    "Cookies.User_Name": { required: "User Name is required field." },

                    "Cookies.Password": { required: "Password is required field." },

                }
            });

        });


    </script>

</body>
</html>
