@{
    ViewBag.Title = "Unauthorize_Access";
}

<form id="frmUnauthorizeAccess" enctype="multipart/form-data">
    <div class="products">

        <div class="container">

            <div class="container no_access">
                <div class="row">
                    <div class="col-md-12">
                        <p>You dont have access to this functionality.</p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
          
        </div>
    </div>
</form>
