<form id="frmMy_Activity_Dashboard">
    <div class="box box-primary">

        <div class="box-body no-padding">

            <section class="content">
                <div class="row">
                    @* Sales Order *@
                    <div class="col-lg-3 col-xs-6">
                        <div class="small-box bg-aqua">
                            <a class="small-box-footer">Sales Order</a>
                            <div class="inner" id="MktSegment">
                                <h3>100</h3>
                            </div>
                            <div class="icon">
                                <i class="ion ion-edit"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    @* Payable Amount *@
                    <div class="col-lg-3 col-xs-6">

                        <div class="small-box bg-green">
                            <a class="small-box-footer">Payables</a>
                            <div class="inner" id="MktSegment">
                                <h3>10</h3>
                            </div>
                            <div class="icon">
                                <i class="ion ion-edit"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>

                    </div>
                    @* Receivable Amount *@
                    <div class="col-lg-3 col-xs-6">

                        <div class="small-box bg-yellow-gradient">
                            <a class="small-box-footer">Receivables</a>
                            <div class="inner" id="CustomerDetails">
                                <h3>50</h3>
                            </div>
                            <div class="icon">
                                <i class="ion ion-edit"></i>
                            </div>
                            <a href="/crm/search-Customer-Pending" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</form>