<script src="~/Scripts/Module/SubCategory/search_subcategory_events.js"></script>
<script src="~/Scripts/Module/SubCategory/serach_subcategory_methods.js"></script>
<script src="~/Scripts/IconSearchAutocomplet.js"></script>

<form id="frmSubcategoryAutocompletePopup">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <select id="drpList">
                    <option value="0">-Select Sub Category-</option>

                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-md-6 pull-right">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-success btn-sm" onclick="IconSearch()" data-dismiss="modal">Select</button>
                </div>
            </div>
        </div>
    </div>

</form>