<script type="text/javascript">

    $(document).ready(function () {

        $('.iradio-list').iCheck({
            radioClass: 'iradio_square-green',
            increaseArea: '20%' // optional
        });

    });
</script>

<form id="frmvendorReceivable" enctype="multipart/form-data">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        @*@{Html.RenderPartial("_ServerMessage");}*@
        <section class="content-header">
            <h1>
                Receivable Master
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-dashboard"></i>Vendor</a></li>
                <li class="active">Receivable</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Receivable</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label style="color: #333">Invoice No</label>
                                        <input type="text" class="form-control input-sm" name="" id="txtinvoice_No" placeholder="Enter invoice no" value="" maxlength="20">
                                    </div>
                                </div>

                            </div>

                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="btn-group pull-left">
                                            <a class="btn btn-primary btn-sm" role="button" href="@Url.Action("VendorIndex", "Receivable")">Create </a>
                                            <a class="btn btn-warning btn-sm" id="btnSearch" role="button">Search</a>
                                        </div>

                                        <div class="btn-group pull-right">
                                            <button type="button" id="btnEdit" class="btn btn-warning btn-sm">Edit</button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped" id="tblReceivableMaster">
                                <tr id="subhead">
                                    <th></th>
                                    <th>Invoice No</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>

                                <tr>
                                    <td><input type="radio" id="rdo_ReceivableId1" name="Receivables" class="iradio-list" /></td>
                                    <td>001 </td>
                                    <td>12,222</td>
                                    <td>vv</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" id="rdo_ReceivableId2" name="Receivables" class="iradio-list" /></td>
                                    <td>002 </td>
                                    <td>10,000</td>
                                    <td>ss</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" id="rdo_ReceivableId3" name="Receivables" class="iradio-list" /></td>
                                    <td>003 </td>
                                    <td>12000</td>
                                    <td>dd</td>
                                </tr>
                            </table>
                        </div>
                        @*<div class="box-footer clearfix">
                                <div class="pagination pagination-sm no-margin pull-right">
                                    <ul></ul>
                                </div>
                                <div id="divSearchGridOverlay" class="overlay">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
</form>






