<form id="frmUploadBrandLogo" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8" style="text-align:center ">
            <div class="form-group">
                <div class="input-group pull-left">
                    <input type="file" class="btn" name="Upload_Brand_Logo_File" id="uploadFile">
                    <span class="input-group-btn">
                        <button type="button" id="btnUpload" class="btn btn-success btn-sm">Upload </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2"> </div>
    </div>
</form>
