

.col-border-right {
    border-right:1px solid #ddd
}
.div-border-bottom {
    border-bottom:1px solid #ddd;
}
.product {
    border: 1px solid #ddd;
    height: 100px;    
}

/*-----------------vendor product mapping---------------*/
.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}
/*-----------------validation error---------------*/
label.login-error {
            font-size:12px;
            color:red;
            font-family:sans-serif; 
        }
/*--------------------disable div---------------------------------*/
.disabled-div 
{
    pointer-events: none;
    opacity: 2.4;
}