

<form id="frmAutocompletePopup">

    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Interview Level List</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <select id="drpList">
                            <option value="0">-Select Interview Level-</option>

                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-success btn-sm" onclick="IconSearch()" data-dismiss="modal">Select</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</form>