<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2016 SMSPortal. All rights reserved.</p>
                </div>

                <div class="quick_links">

                    <ul class="quick_links_ul">
                        <li><a href="dealers.html">Dealers</a></li>
                        <li><a href="payables.html">Payables</a></li>
                        <li><a href="profile.html">Profile</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>