@using SMSPortalInfo.Common
@using SMSPortal.Common

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="logo">
                    <a href="#"><img src="~/Images/star.png" class="img-responsive star" alt="" /></a>
                    <a href="#"><img src="~/Images/mercedes.png" class="img-responsive mercedes_text" alt="" /></a>
                </div>
            </div>
            <div class="col-md-8 col-ms-8 col-xs-8">
                <div class="header-menu">
                    <span class="menu"></span>
                    <div class="top-menu">
                        <ul>
                            <li><a href="dealers.html">Dealers</a></li>
                            <li><a href="payables.html">Payables</a></li>
                        </ul>
                    </div>
                    <!-- script for menu -->
                    <script>
                        $("span.menu").click(function () {
                            $(".top-menu").slideToggle("slow", function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- script for menu -->

                </div>
            </div>
        </div>

        <a href="@Url.Action("Profile", "Dealer")" class=" profile"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span>Profile</span></a>
        <a href="@Url.Action("Logout", "Login")" class="signout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;<span>Sign Out</span></a>
        
    </div>
</div>