@model SMSPortal.Models.PostLogin.CategoryViewModel

<script src="~/Scripts/Module/Category/Category_events.js"></script>
<script src="~/Scripts/Module/Category/category_validation.js"></script>

<div class="content-wrapper">
    @*@{Html.RenderPartial("_ServerMessage");}*@
    <section class="content-header">
        <h1>
            Category Master
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Admin</li>
            <li class="active">Category</li>
        </ol>
    </section>
    <form id="frmCategoryMaster">
        <section class="content">
            <div class="box box-primary">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-header with-border">
                            <i class="fa fa-chevron-left" style="margin-right: 5px; cursor: pointer;font-size:22px; "></i>
                            <h3 class="box-title">Category</h3>
                        </div>
                        <div class="box-body">
                            <input type="hidden" class="form-control input-sm" name="Category.Category_Id" id="hdf_CategoryId" placeholder="Country Name" value="@Model.Category.Category_Id">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label style="color: #333">Category Name</label>
                                        <input type="text" class="form-control input-sm" id="txtCategory_Name" name="Category.Category_Name" placeholder="Enter category name" value="@Model.Category.Category_Name" maxlength="20">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label>
                                        @if (Model.Category.IsActive == false)
                                        {
                                            <input type="checkbox" name="chkStatus" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="chkStatus" checked="checked" />
                                        }

                                        <input type="hidden" class="form-control input-sm" id="hdnIs_Active" name="Category.Is_Active" value="@Model.Category.IsActive.ToString()">
                                        &nbsp;&nbsp;&nbsp;&nbsp; Active
                                    </label>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="btn-group">
                                    <button type="submit" id="btnSave" class="btn btn-success btn-sm">Save</button>
                                    <button type="reset" id="btnReset" class="btn btn-warning btn-sm">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>